<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Users</title>
</head>
<body>
    <form action="/submitLogin" method="POST">
        <fieldset style="width: 0px;">
            <legend>Edit Users:</legend>
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" name="firstName" value="<%= theLogin[0].firstName %>">
                <br><br>
                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" name="lastName" value="<%= theLogin[0].lastName %>">
                <br><br>
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" value="<%= theLogin[0].email %>">
                <br><br>
                <label for="username">UserName:</label>
                <input type="text" id="username" name="username" value="<%= theLogin[0].username %>">
                <br><br>
                <label for="password">Password:</label>
                <input type="text" id="password" name="password" value="<%= theLogin[0].password %>">
                <br><br>
                <input type="hidden" id="id" name="id" value="<%= theLogin[0].id %>">
                <button type="submit">Save</button>
        </fieldset>
    </form>
</body>
</html>