<!-- Ryan -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Welcome Home</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="https://aforbush1.github.io/INTEX/views/assets/img/provoIcon.ico" rel="icon">
    <link href="https://aforbush1.github.io/INTEX/views/assets/img/provoIcon.ico" rel="provo-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="https://aforbush1.github.io/INTEX/views/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="https://aforbush1.github.io/INTEX/views/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://aforbush1.github.io/INTEX/views/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="https://aforbush1.github.io/INTEX/views/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="https://aforbush1.github.io/INTEX/views/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="https://aforbush1.github.io/INTEX/views/assets/css/style.css" rel="stylesheet">
</head>
<body>
    <!-- Header with navigation -->
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="logo">

                <a href="/userIndex/<%= id %>"><img src="https://aforbush1.github.io/INTEX/views/assets/img/provoLogo.png" alt="" class="img-fluid">
                </a>
            </div>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="" href="/userIndex/<%= id %>">Home</a></li>
                    <li><a href="/userprofile/<%= id %>">View Profile</a></li>
                    <li><a href="/viewUserData/<%= id %>">View Data</a></li>
                    
                    <li><a href="/">Log Out</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
            <!-- .navbar -->

        </div>
    </header>

    <!-- Table section -->
    <label><b>User Information:</b></label>
    <br><br>
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Username</th>
                <th>Password</th>
                
            </tr>
        </thead>
        <tbody style="font-family: Arial; font-size: 9pt;">
            <!-- Use ejs with less than sign and percent sign // adding the = pulls data -->
            <!-- Display single user data -->
            <% if (theLogin) { %>
                <tr>
                    <td><%= theLogin.firstName %></td>
                    <td><%= theLogin.lastName %></td>
                    <td><%= theLogin.email %></td>
                    <td><%= theLogin.username %></td>
                    <td><%= theLogin.password %></td>
                    <!-- Modify the forms as needed -->
                    
                </tr>
            <% } else { %>
                <tr>
                    <td colspan="7">User not found</td>
                </tr>
            <% } %>
            
        </tbody>
    </table>
    <br><br>
        <!-- Vendor JS Files -->
        <script src="https://aforbush1.github.io/INTEX/views/assets/vendor/aos/aos.js"></script>
        <script src="https://aforbush1.github.io/INTEX/views/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="https://aforbush1.github.io/INTEX/views/assets/vendor/swiper/swiper-bundle.min.js"></script>
        <script src="https://aforbush1.github.io/INTEX/views/assets/vendor/php-email-form/validate.js"></script>
    
        <!-- Template Main JS File -->
        <script src="https://aforbush1.github.io/INTEX/views/assets/js/main.js"></script>
</body>
</html>
