<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey</title>

    <!-- Favicons -->
    <link href="https://aforbush1.github.io/INTEX/views/assets/img/provoIcon.ico" rel="icon">
    <link href="https://aforbush1.github.io/INTEX/views/assets/img/provoIcon.ico" rel="provo-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="https://aforbush1.github.io/INTEX/views/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="https://aforbush1.github.io/INTEX/views/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://aforbush1.github.io/INTEX/views/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="https://aforbush1.github.io/INTEX/views/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="https://aforbush1.github.io/INTEX/views/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Select2Library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

    <!-- Template Main CSS File -->
    <link href="https://aforbush1.github.io/INTEX/views/assets/css/style.css" rel="stylesheet">

    <style>
        /* Styles for the navigation bar */
        header {
            background-color: #333;
            color: white;
            padding: 10px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px; /* Added margin to push content down */
        }

        header .logo img {
            max-width: 150px;
        }


        /* Table styles */
        body {
            background-image:url('https://aforbush1.github.io/INTEX/views/assets/img/utahLake.jpg') ; 
            background-size: cover;
            color: white;
            font-family: 'Roboto', sans-serif;
            padding: 20px;
        }

        label {
            font-size: 20px;
        }

        table {
            width: 100%;
            background-color: #454545; /* Darker grey background for the table */
            border: 1px solid #666; /* Dark border color */
            border-collapse: collapse;
            margin-top: 15px; /* Push the table down */
        }

        thead th {
            background-color: #222; /* Darker header background */
            color: white;
            padding: 8px;
            text-align: left;
        }

        th, td {
            padding: 8px;
            border-bottom: 1px solid #666; /* Dark border color */
        }

        tr:nth-child(even) {
            background-color: #333; /* Dark alternate row color */
        }

        /* Button styles */
        .button-container {
            display: flex;
            justify-content: center;
        }

        button {
            padding: 10px 20px;
            font-size: 14px;
            font-weight: bold;
            text-decoration: none;
            color: #fff;
            background-color: #6a9c59; /* Green button color */
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover {
            background-color: #4b7847; /* Darker green on hover */
        }

        /* Add this to your existing CSS styles */
        .delete-button {
            padding: 10px 20px;
            font-size: 14px;
            font-weight: bold;
            text-decoration: none;
            color: #ab1919;
            background: none;
            border: 2px solid #ab1919;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.4s, color 0.4s;
        }

        .delete-button:hover {
            background-color: #ab1919;
            color: #fff;
        }

        .edit-button {
            padding: 10px 20px;
            font-size: 14px;
            font-weight: bold;
            text-decoration: none;
            color:  white;
            background: none;
            border: 2px solid white;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.4s, color 0.4s;
        }

        .edit-button:hover {
            background-color: #274685;
            color: #fff;
        }

    </style>
</head>

<body>
    <!-- Header with navigation -->
    <header id="header" class="fixed-top d-flex align-items-center" style="background-color: rgba(211, 211, 211, 0.7);">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="logo">
                <a href="/adminIndex/<%=id%>"><img src="https://aforbush1.github.io/INTEX/views/assets/img/provoLogo.png" alt="" class="img-fluid"></a>
            </div>
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="" href="/adminIndex/<%=id%>">Home</a></li>
                    <li><a href="/createUser/<%=id%>">Create User</a></li>
                    <li><a href="/viewUser/<%=id%>">View Users</a></li>
                    <li><a href="/viewData/<%=id%>">View Data</a></li>
                    <li><a href="/">Log Out</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
        </div>
    </header>

    <!-- Table section -->
    <label style="margin-top: 100px;"><b>User Information:</b></label>
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Username</th>
                <th>Password</th>
                <th>Edit Data Button</th>
                <th>Delete Data Button</th>
            </tr>
        </thead>
        <tbody style="font-family: Arial; font-size: 9pt;">
            <!-- Use ejs with less than sign and percent sign // adding the = pulls data -->
            <% console.log("theLogin:", theLogin); %>
            <% for (let iCount = 0; iCount < theLogin.length; iCount++) { %>
                <tr>
                    <td><%= theLogin[iCount].firstName %></td>
                    <td><%= theLogin[iCount].lastName %></td>
                    <td><%= theLogin[iCount].email %></td>
                    <td><%= theLogin[iCount].username %></td>
                    <td><%= theLogin[iCount].password %></td>
                    <td style="text-align: center;">
                        <div style="margin-top: 10px;">
                            <button type="button" onclick="window.location.href='/editUsers/<%= theLogin[iCount].id %>'"
                                class="edit-button">
                                Edit
                            </button>
                        </div>
                    </td>
                    
                    <td style="text-align: center;">
                        <div style="margin-top: 10px;">
                            <button type="button" onclick="if(confirm('Are you sure you want to delete this user?')) window.location.href='/deleteUser/<%= theLogin[iCount].id %>'"
                                class="delete-button">
                                Delete
                            </button>
                        </div>
                    </td>
                    
                </tr>
            <% } %>
        </tbody>
    </table>
    <br><br>
</body>

</html>
