<!-- Ryan -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data</title>
    
    <!-- Favicons -->
    <link href="https://aforbush1.github.io/INTEX/views/assets/img/provoIcon.ico" rel="icon">
    <link href="https://aforbush1.github.io/INTEX/views/assets/img/provoIcon.ico" rel="provo-icon">

    <!-- Favicons -->
    <link href="https://aforbush1.github.io/INTEX/views/assets/img/provoIcon.ico" rel="icon">
    <link href="https://aforbush1.github.io/INTEX/views/assets/img/provoIcon.ico" rel="provo-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="https://aforbush1.github.io/INTEX/views/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="https://aforbush1.github.io/INTEX/views/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://aforbush1.github.io/INTEX/views/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="https://aforbush1.github.io/INTEX/views/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="https://aforbush1.github.io/INTEX/views/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!--main css file-->
    <link href="https://aforbush1.github.io/INTEX/views/assets/css/style.css" rel="stylesheet">
    

</head>
<body>
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container d-flex justify-content-between align-items-center">

            <div class="logo" data-aos-delay="2500" data-aos="fade-down">
                <a href="/"><img src="https://aforbush1.github.io/INTEX/views/assets/img/provoLogo.png" alt="" class="img-fluid">
                </a>
            </div>

            <nav style="color: rgb(212, 209, 209);" id="navbar" class="navbar" data-aos-delay="1000" data-aos="fade-right" data-aos-offset="0">
                <ul>
                    <li><a style=" color: grey;"  href="/">Home</a></li>
                    <li><a style=" color: grey;" class="active" href="/surveyForm">Survey</a></li>
                    <li><a style=" color: grey;" href="dashboard">Dashboard</a></li>
                    <li><a style=" color: grey;" href="/login">Log In</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
            <!-- .navbar -->

        </div>
        <form action="filterData">
            <fieldset style="width: fit-content;">
                <legend>Filter</legend>
                <label for="filterCity">City</label>
                <select name="filterCity" id="filterCity">
                    <option value="provo">Provo</option>
                    <option value="plainsville">Plainsville</option>
                </select>
                <label for="findRecord">Find Record</label>
                <select name="findRecord" id="findRecord">
                    <% for (let iCount = 0; iCount < theSurveys.length; iCount++) { %>
                        <option value="<%= theSurveys[iCount].id %>">
                            <p><%= theSurveys[iCount].date %>, <%= theSurveys[iCount].Time %>, <%= theSurveys[iCount].Age %>,<%= theSurveys[iCount].Gender %> </p>
                        </option>
                    <% } %>
                </select>
                <div class="col-md-6 form-group">
                    <input type="submit" class="btn btn-primary d-block w-100" value="Submit">
                </div>
            </fieldset>

        </form>
    </header>

    <label><b>Survey Information: </b></label>
    <br><br>
    <table style="width: 100%; background-color: antiquewhite; border: 1px solid black;">
        <thead style="background-color: cornflowerblue; color: white;">
        <tr>
            <th style="text-align: left;">Date</th>
            <th style="text-align: left;">Time</th>
            <th style="text-align: left;">Age</th>
            <th style="text-align: left;">Gender</th>
            <th style="text-align: left;">Relationship Status</th>
            <th style="text-align: left;">Occupation Status</th>
            <th style="text-align: left;">Affiliation_Company</th>
            <th style="text-align: left;">Affiliation_Private</th>
            <th style="text-align: left;">Affiliation_Government</th>
            <th style="text-align: left;">Affiliation_School</th>
            <th style="text-align: left;">Affiliation_University</th>
            <th style="text-align: left;">Affiliation_N/A</th>
            <th style="text-align: left;">Social_Media</th>
            <th style="text-align: left;">Facebook</th>
            <th style="text-align: left;">Twitter</th>
            <th style="text-align: left;">Instagram</th>
            <th style="text-align: left;">Youtube</th>
            <th style="text-align: left;">Discord</th>
            <th style="text-align: left;">Reddit</th>
            <th style="text-align: left;">Pinterest</th>
            <th style="text-align: left;">TikTok</th>
            <th style="text-align: left;">Snapchat</th>
            <th style="text-align: left;">Other_Platform</th>
            <th style="text-align: left;">Average_Daily_Social_Media_Use_Hours</th>
            <th style="text-align: left;">Non_Specific_Use_Rating</th>
            <th style="text-align: left;">Social_Media_Distraction_Rating</th>
            <th style="text-align: left;">Restlessness_Rating</th>
            <th style="text-align: left;">Distractedness_Rating</th>
            <th style="text-align: left;">Worries_Rating</th>
            <th style="text-align: left;">Concentration_Difficulty_Rating</th>
            <th style="text-align: left;">Comparison_Rating</th>
            <th style="text-align: left;">Followup_Comparison_Rating</th>
            <th style="text-align: left;">Seek_Validation_Rating</th>
            <th style="text-align: left;">Depression_Rating</th>
            <th style="text-align: left;">Interest_Fluctuation_Rating</th>
            <th style="text-align: left;">Sleep_Issue_Rating</th>
            <th style="text-align: left;">Location</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody style="font-family: Arial; font-size: 9pt;">
        <!-- Use ejs with less than sign and percent sign // adding the = pulls data -->
        <% for (let iCount = 0; iCount < theSurveys.length; iCount++) { %>
            <tr>
                <td><%= theSurveys[iCount].Date %></td>
                <td><%= theSurveys[iCount].Time %></td>
                <td style="text-align: center;"><%= theSurveys[iCount].Age %></td>
                <td><%= theSurveys[iCount].Gender %></td>
                <td><%= theSurveys[iCount].Relationship_Status %></td>
                <td><%= theSurveys[iCount].Occupation_Status %></td>
                <td><%= theSurveys[iCount].Affiliation_Company %></td>
                <td><%= theSurveys[iCount].Affiliation_Private %></td>
                <td><%= theSurveys[iCount].Affiliation_Government %></td>
                <td><%= theSurveys[iCount].Affiliation_School %></td>
                <td><%= theSurveys[iCount].Affiliation_University %></td>
                <td><%= theSurveys[iCount].Affiliation_None %></td>
                <td><%= theSurveys[iCount].Social_Media %></td>
                <td><%= theSurveys[iCount].Facebook %></td>
                <td><%= theSurveys[iCount].Twitter %></td>
                <td><%= theSurveys[iCount].Instagram %></td>
                <td><%= theSurveys[iCount].Youtube %></td>
                <td><%= theSurveys[iCount].Discord %></td>
                <td><%= theSurveys[iCount].Reddit %></td>
                <td><%= theSurveys[iCount].Pinterest %></td>
                <td><%= theSurveys[iCount].TikTok %></td>
                <td><%= theSurveys[iCount].Snapchat %></td>
                <td><%= theSurveys[iCount].Other_Platform %></td>
                <td><%= theSurveys[iCount].Average_Daily_Social_Media_Use_Hours %></td>
                <td><%= theSurveys[iCount].Non_Specific_Use_Rating %></td>
                <td><%= theSurveys[iCount].Social_Media_Distraction_Rating %></td>
                <td><%= theSurveys[iCount].Restlessness_Rating %></td>
                <td><%= theSurveys[iCount].Distractedness_Rating %></td>
                <td><%= theSurveys[iCount].Worries_Rating %></td>
                <td><%= theSurveys[iCount].Concentration_Difficulty_Ratings %></td>
                <td><%= theSurveys[iCount].Comparison_Rating %></td>
                <td><%= theSurveys[iCount].Followup_Comparison_Rating %></td>
                <td><%= theSurveys[iCount].Seek_Validation_Rating %></td>
                <td><%= theSurveys[iCount].Depression_Rating %></td>
                <td><%= theSurveys[iCount].Interest_Fluctuation_Rating %></td>
                <td><%= theSurveys[iCount].Sleep_Issue_Rating %></td>
                <td><%= theSurveys[iCount].Location %></td>
                <td style="text-align: center;"></td>
            </tr>
        <% } %>
        </tbody>
    </table>
    <br><br>
</body>
</html>